<div style="text-align:center">
  <h1 *ngIf="!(isUserLogged === 'true') && !(isUserAdmin === 'true')">
    Welcome to {{ title }}, guest!
  </h1>
  <h1 *ngIf="(isUserLogged === 'true') && !(isUserAdmin === 'true')">
    Welcome to {{ title }}, user!
  </h1>
  <h1 *ngIf="(isUserLogged === 'true') && (isUserAdmin === 'true')">
    Welcome to {{ title }}, admin!
  </h1>
  <img width="300" alt="Peter's face"
       src="assets/my_face.jpg">

  <div class="search_bar">
    <input class="search_box" [(ngModel)]="searchQuery" type="text" placeholder=" What product would you like to see? "/>
    <button (click)="search(searchQuery); searchQuery=''" mat-flat-button> Search</button>
  </div>
</div>
