<div style="text-align: center">
  <div *ngIf="!(isUserLogged === 'true')">
    <div align="center">
      <table align="center">
        <tr>
          <td>Email</td>
          <td><input [(ngModel)]="userToRegister.emailAddress" type="text"/></td>
        </tr>
        <tr>
          <td>Password</td>
          <td><input [(ngModel)]="userToRegister.passNoHash" type="password"/></td>
        </tr>
        <tr>
          <td>Re-enter password</td>
          <td><input [(ngModel)]="userToRegister.passNoHashRepeat" type="password"/></td>
        </tr>
      </table>
    </div>

    <button (click)="attemptRegister(); userToRegister.passNoHash=''; userToRegister.passNoHashRepeat=''" mat-flat-button>
      Register
    </button>
    <div *ngIf="!(message === '')">
      <div class="alert alert-info" role="alert">{{message}}</div>
    </div>
  </div>
  <div *ngIf="isUserLogged === 'true'">
    <p> You are logged in !</p>
  </div>
</div>
